* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary: #e5eefd;
    --secondary: #82b0f2;
    --terciary: #3b43a1;
    --text-color: #fff;
    --text-secondary: #000;
    --text-terciary: #5d5d5d;
}
body {
    font-family: Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:  #9c9999;
}

.container{  
    background-image: linear-gradient(to top, var(--primary) 90%,var(--terciary)3%);
    background-color: var(--primary); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 450px;   
}
#titulo-cadastro{
    text-align: center;
    font-size: 1.5em;
    color: var(--primary);
}
.paragrafo-logo p {
    font-size: 1em;
    font-weight:bolder;
    color: #003366;
    margin-bottom: -6%;
}
.paragrafo-subtitulo{
    line-height: 5em;
    font-size: 1.5em;
    color: #003366;
    font-weight: 200;
    margin-bottom: -15%;

}
.login-container {
    text-align: center;
    margin-bottom: 2% !important;
}

.login-container input{
padding: 5px;
border-radius: 20px !important;  
margin-bottom: -5%; 
}

#logo-container img { 
    margin-top: 5%;   
    max-width: 100%;
    height: auto;
    max-height: 100px; 
    
}
button{
    width: 180px;
    background-color: var(--terciary) !important;
    border-radius: 20px !important;
    margin-top: 18px;
    margin-bottom: 10px;
   
}

button:hover {
    opacity: 0.9 !important;
    border-color: #fff !important;
}
.menu{
    width: 100%;
    height: 100px;
    padding-top:10px;
}


.material-symbols-outlined.md-60{ font-size: 40px; }


@media (max-width: 450px) {
    
        button{
            width: 150px;
        }
        .container{
            padding-top: 7%;
            height: 100vh;     
        }
        .menu{
            width: 100%;
            height: 100px;
            padding-top:10px;
        }
        
        
        .material-symbols-outlined.md-60{ font-size: 40px; }
        
}

